{% extends 'sales/basedash.html' %}

{% block main %}
  <div class="content px-5">
    <div class="row mt-4 text-center">
      <div class="col-xl-3 col-lg-6 mb-3">
        <div class="card" style="border-color: #ffc107;">
          <div class="card-body">
            <i class="ph-bold ph-hourglass" style="color: #ffc107;"></i>
            <h5 class="card-title">Pendientes</h5>
            <a class="btn btn-warning btn-lg" href="{% url 'pedidos_pendientes' %}">{{ pedidos_pendientes }}</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 mb-3">
        <div class="card" style="border-color: #198754;">
          <div class="card-body">
            <i class="ph-bold ph-check-circle" style="color: #198754;"></i>
            <h5 class="card-title">Completados</h5>
            <a class="btn btn-success btn-lg" href="{% url 'pedidos_completados' %}">{{ pedidos_completados }}</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6 mb-3">
        <div class="card" style="border-color: #dc3545;">
          <div class="card-body">
            <i class="ph-bold ph-x-circle" style="color: #dc3545;"></i>
            <h5 class="card-title">Cancelados</h5>
            <a class="btn btn-danger btn-lg" href="{% url 'pedidos_cancelados' %}">{{ pedidos_cancelados }}</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Tabla -->
    <div class="card mb-4 card-table">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <i class="ph-bold ph-file-text"></i>
            Pedidos En Proceso
          </div>
          <div>
          </div>
        </div>
      </div>
      <div class="card card-custom">
        <div class="table-responsive">
          <table id="datatablesSimple" class="table table-hover">
            <thead>
              <tr>
                <th style="width: 8%;">
                  <a href="#">Fecha</a>
                </th>
                <th style="width: 18.057720057720058%;">
                  <a href="#">Subtotal</a>
                </th>
                <th style="width: 18.057720057720058%;">
                  <a href="#">Estado</a>
                </th>
                <th style="width: 18.057720057720058%;">
                  <a href="#">Acciones</a>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for pedido in pedidos %}
                <tr>
                  <td>{{ pedido.fecha_pedido }}</td>
                  <td>{{ pedido.subtotal }}</td>
                  <td>{{ pedido.get_estado_display }}</td>
                  <td>
                    <!-- Enlace para editar el pedido -->
                    <a href="#" class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editarModal" data-id="{{ pedido.id }}" data-estado="{{ pedido.estado }}" data-bs-placement="top" title="Editar">
                        <i class="ph-bold ph-pencil"></i>
                    </a>
                
                    <!-- Enlace para ver el pedido -->
                    <a href="{% url 'consultar_pedido' pedido.id %}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver">
                        <i class="ph-bold ph-eye"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal %}
  <!-- Modal para editar el estado -->
  <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarModalLabel">Editar Estado del Pedido</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'editar_pedido_pendiente' pedido_id='00000000-0000-0000-0000-000000000000' %}" id="editarForm">
            {% csrf_token %}
            <input type="hidden" name="pedido_id" id="pedido_id" value="" />
            <div class="form-group">
              <label for="nuevo_estado">Selecciona el nuevo estado:</label>
              <select name="nuevo_estado" id="nuevo_estado" class="form-select">
                <optgroup label="Seleccionar estado">
                  <option value="completado">Completado</option>
                  <option value="cancelado">Cancelado</option>
                </optgroup>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var editarModal = document.getElementById('editarModal')

      // Manejo de apertura del modal
      editarModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget // Button that triggered the modal
        var id = button.getAttribute('data-id') // Extract info from data-* attributes
        var estado = button.getAttribute('data-estado')
        
        var pedidoIdInput = document.getElementById('pedido_id')
        var nuevoEstadoSelect = document.getElementById('nuevo_estado')
        
        pedidoIdInput.value = id
        nuevoEstadoSelect.value = estado

        // Construct the URL for the form action
        var action = "{% url 'editar_pedido_pendiente' pedido_id='00000000-0000-0000-0000-000000000000' %}".replace('00000000-0000-0000-0000-000000000000', id)
        document.getElementById('editarForm').action = action
      })
    })
  </script>
{% endblock %}
