{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="{% static 'images/Icono.png' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/dashboards.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://use..com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
  </head>

  <body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: #00563F;">
      <!-- Navbar Brand-->
      <a class="navbar-brand ps-3" style="color: #FFF9D9;" href="{% url 'index' %}">PROARCOL</a>
      <!-- Sidebar Toggle-->
      <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
          class="fas fa-bars"></i></button>
      <!-- Navbar Search-->
      <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="Buscar..." aria-label="Search for..."
            aria-describedby="btnNavbarSearch" />
          <button style="background-color: #0D8265;" class="btn" id="btnNavbarSearch" type="button"><i
              style="color: #FFF9D9;" class="fas fa-search"></i></button>
        </div>
      </form>
      <!-- Navbar-->
      <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'perfil_empleado' %}">Perfil</a></li>
            <li><a class="dropdown-item" href="{% url 'prueba' %}"> Configuraciones</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            {# if user.is_autenticated #}
            {# endif #}
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion" style="background-color: #00563F;">
          <div class="sb-sidenav-menu">
            <div class="nav">
              <div class="sb-sidenav-menu-heading">DashBoards</div>
              <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts"
                aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"></div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  style="fill: rgba(255, 249, 217, 1);transform: ;msFilter:;">
                  <path
                    d="M4 11h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm1-6h4v4H5V5zm15-2h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zm-1 6h-4V5h4v4zm-9 12a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6zm-5-6h4v4H5v-4zm13-1h-2v2h-2v2h2v2h2v-2h2v-2h-2z">
                  </path>
                </svg>
                Modulos
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
              </a>
              <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="{% url 'inventario' %}">Inventario</a>
                </nav>
              </div>
              <!-- Sección items interfaz Ventas -->

              <!-- Configuración -->
            </div>
          </div>
          <div class="sb-sidenav-footer" style="background-color: #0d8265;">
            <div class="small" style="color:#FFF9D9;">Logueado como:</div>
            <div style="color: #FFF9D9;">
              {% if user.is_authenticated %}
                  {{ user.primer_nombre }} {{ user.primer_apellido }}
              {% else %}
                  Por favor, inicia sesión para ver tu nombre.
              {% endif %}
          </div>
          
        </nav>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid px-4">
            <h1 class="mt-4">Pedidos</h1>
            <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Panel</li>
            </ol>
            <div class="row">
              <div class="col-xl-3 col-md-6">
                <div class="card bg-warning text-white mb-4">
                  <div class="card-body">Pendientes</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'pedidos_pendientes' %}">Ver detalles</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card bg-primary text-white mb-4">
                  <div class="card-body">En Proceso</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'pedidos_proceso' %}">Ver detalles</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card bg-success text-white mb-4">
                  <div class="card-body">Completados</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'pedidos_completados' %}">Ver detalles</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-md-6">
                <div class="card bg-danger text-white mb-4">
                  <div class="card-body">Cancelados</div>
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="{% url 'pedidos_cancelados' %}">Ver detalles</a>
                    <div class="small text-white"><i class="fas fa-angle-right" height="40"></i>
                      </canvas></div>
                  </div>
                </div>
              </div>
              {% comment %} Tabla {% endcomment %}
              <div class="card mb-4">
                <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <i class="fas fa-table me-1"></i>
                      Pedidos
                    </div>
                    <div class="btn-group">
                      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exportModal">Exportar</button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th style="width: 8%;"><a href="#">Fecha</a></th>
                            <th style="width: 18.057720057720058%;"><a href="#">Subtotal</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in pedidos %}
                        <tr>
                            <td>{{ pedido.fecha_pedido }}</td>
                            <td>{{ pedido.subtotal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
          <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted" style="color: #00563F;">Copyright &copy; Proarcol 2023</div>
              <div>
                <a href="#" style="color: #00563F;">Politicas de privacidad</a>
                &middot;
                <a href="#" style="color: #00563F;">Términos &amp; Condiciones</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Modal Exportar Factura -->
    <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exportModalLabel">Exportar Pedidos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="exportForm" method="POST" action="{% url 'export_pedidos' %}">
              {% csrf_token %}
              <p>Se exportarán los siguientes campos: <code>cliente, fecha_pedido, estado, subtotal</code></p>
              <div class="mb-3">
                <label for="file_format" class="form-label">Formato:</label>
                <select name="file_format" required id="file_format" class="form-select">
                  <option value="" selected>---</option>
                  <option value="pdf">PDF</option>
                  <option value="xlsx">Excel (XLSX)</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Exportar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    

    <!-- Modal fin Exportar -->

    <!-- SCRIPTS -->
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Scripts de Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
    <!-- Scripts de DataTables -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
  </body>
</html>